{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <h2>Perfil de Usuario</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Información del Usuario</h5>
            <p class="card-text">Nombre: <strong>{{ request.user.username }}</strong></p>
            <p class="card-text">Apellido: <strong>{{ request.user.last_name }}</strong></p>
            <p class="card-text">Fecha de Nacimiento: <strong>{{ request.user.birth_date }}</strong></p>
            <p class="card-text">Email: <strong>{{ request.user.email }}</strong></p>
            <p class="card-text">Contraseña: <strong>***********</strong></p>
            <a href="/editarPerfil" class="btn btn-primary float-right">Modificar Datos</a>
        </div>
    </div>


</div>
{% endblock %}
