<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rental Catalogue</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Rental Catalogue</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/catalogue" class="nav-link {% if request.path == '/catalogue' %}active{% endif %}">Catalogue</a></li>
                <li class="nav-item"><a href="/rental_catalogue" class="nav-link {% if request.path == '/rental_catalogue' %}active{% endif %}">Alquiler</a></li>
                <li class="nav-item"><a href="/rental_history" class="nav-link {% if request.path == '/rental_history' %}active{% endif %}">Historial de Alquileres</a></li>
            </ul>
        </header>
        <h1>Rental Catalogue</h1>
        <form method="GET" action="/rental_catalogue" class="mb-3">
            <div class="mb-3">
                <input type="text" name="title" class="form-control" placeholder="Search by title">
            </div>
            <div class="mb-3">
                <input type="text" name="author" class="form-control" placeholder="Search by author">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <ul class="list-group">
            {% for movie in movies %}
                <li class="list-group-item">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.description }}</p>
                    <!-- Formulario que envía una solicitud POST para alquilar la película -->
                    <form method="POST" action="/rent_movie">
                        <input type="hidden" name="movie_id" value="{{ movie.id }}">
                        <button type="submit" class="btn btn-success">Alquilar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

